@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

:root{
    --primary-color:rgb(22, 22, 22);
    --secondary-color:rgb(44,44,44);
    --third-color: rgb(11,11,11);
    --scrollerGray: 66,66,66;
    --maxPrimaryPageWidth: 1400px;
    --primaryFontColor: #ffffff;
}

body 
{
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background-color: var(--primary-color);
    color:var(--primaryFontColor);
}

#prices-to-no-form, #prices-to-days-form{
    display: flex;
    flex-direction: column;
    place-items: flex-start;
}


table{
    border-spacing: 0px;
}

#payment-table table, #regret-table table
{
    width: 400px;
}

td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #CCCCCC;
    font-size: 12px;
}